*.fbx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
/connectwebgl.zip filter=lfs diff=lfs merge=lfs -text
/WebGL[[:space:]]Builds/Build/WebGL[[:space:]]Builds.data.br filter=lfs diff=lfs merge=lfs -text
